/* Supprime cette redondance si elle entre en conflit */
.navbar {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
}
.header {
	background-color: #000;
	color: white;
	padding: 0; /* le padding est géré dans NavBar */
}
